#dashboard {
  background-color: lightgrey;
}

.top-banner {
  margin: auto 0px;
  margin: 0px 35px;
}

.logo-container {
  float: left;
  width: 75px;
}

.logo {
  width: 100%;
  height: auto;
}

.container {
  height: auto;
  clear: both; /* drops down rest of page below top banner */
}

.sidebar {
  float: left;
  background-color: pink;
  width: 10%;
}

.nav-options {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}

.option {
  padding: 20px 0px;
  background-color: orange;
  border-style: solid;
}

.option-text {
  text-decoration: none;
  font-size: 20px;
  width: auto;
  background-color: purple;
  display: block;
}

.router-view {
  background-color: green;
  margin-left: 10%;
}
