@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$savvy: #6454f3;
$savvyLight: rgba($savvy, .05);
$grey: #777;
$dashboardGrey: #888;
$shadow: hsla(0, 0%, 63%, .95);

@mixin blockShadow($n: 1, $color: $shadow) {
  box-shadow: 0 0 $n * 17px -5px $color;
}
@mixin blockHover($touchable: true, $textHighlight: false, $stripHighlight: true) {
  cursor: pointer;

  &:hover {
    background: $savvyLight;
    @if $textHighlight {
      color: $savvy;
    }
    @if $stripHighlight {
      background: $savvyLight;
      border-left: 5px solid $savvy;
    }
  }
}

.defaultFont {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  color: $grey;
}
.blockSpacing {
  margin: 10px;
  padding: 10px;
}
.blockStyle {
  border-radius: 3px;
  background-color: #fff;
  @include blockShadow(1);
  transition: background-color .3s, box-shadow .3s, border .3s;
}
.block {
  @extend .blockSpacing;
  @extend .blockStyle;
}
.fa-icon {
  margin-bottom: -0.25em;
  height: 1.2em;
}
button, input, textarea, select {
  @extend .block;
  @extend .defaultFont;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 6px;
}
button {
  cursor: pointer;

  &:hover {
    @include blockShadow(2);
  }
  &:focus {
    outline: none;
  }
  &:active {
    transition: background-color .1s, box-shadow .1s, border .1s;
    @include blockShadow(1);
    background-color: #f6f6f6;
    color: $savvy;
  }
  &[disabled] {
    cursor: default;
    background: #eee;
    color: #aaa;
  }
}
input {
  &::placeholder {
    color: #bbb;
  }
}
select {
  @extend .block;
  @extend .defaultFont;
  padding: 10px;
  height: 40px;
}
table {
  @extend .block;
  width: 100%;
  padding: 0;
  border-spacing: 0;

  thead tr {
    font-weight: bold;
    pointer-events: none;

    td {
      background: #fbfbfb;
      border-bottom-color: #ccc;
    }
  }

  tr {
    @extend .blockSpacing;
    @include blockHover(true, true, false);

    &:last-of-type {
      border-bottom: none;
    }

    td {
      border-bottom: 2px solid #eee;
      @extend .blockSpacing;
      padding: 20px 30px;

      &.icon {
        width: 20px;
        padding-right: 0;
      }
    }
  }
}
